listen_port=55555

max_messages=10485760
high_watermark=90
low_watermark=50
# `reject` or `drop`
overflow_policy=reject
message_ttl_sec=3600

persistent_file=toymq.sqlite3
persistent_journal=wal
persistent_sync=off

publish_maxiters=1024
subscribe_maxiters=0

router_threads=2
reactor_threads=2
worker_threads=4

keeper_interval_sec=60
sampler_interval_sec=1

log_filepath=log
log_level=info
#log_level=debug
